*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.container{
  width: 90%;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.justify-content{
  justify-content: space-between;
}

.relative{
  position: relative;
}

.mx-10{
  margin: 0px 10px;
}
.mx-20{
  margin: 0px 20px;
}
.mx-30{
  margin: 0px 30px;
}
.mx-40{
  margin: 0px 40px;
}
.mx-50{
  margin: 0px 50px;
}
/* HEADER */
header{
  height: 70px;
  width: 100%;
  background-color: #474747;
  text-align: end;
}

.btn-header{
  color: white;
  background-color: grey;
  padding: 4px 3px;
  border-radius: 6px;
  border: 1px solid grey;
  margin-top: 5px;
  margin-right: 2px;
}





/* MAIN */
main{
  height: calc(100vh - 140px);
  background-color: #474747;
  overflow: auto;
}

.card{
  position: relative;
  width: 250px;
  height: 134px;
  margin: 5px 3px;
  overflow: hidden;
  cursor: pointer;
}

.card span{
  position: absolute;
  font-size: 10px;
  bottom: 0;
  left: 0;
  color: #eae0db;
  background-color: #67717a;
  background-color: rgba(103, 113, 122, 0.3);
  padding: 3px;
}

.card img{
  width: 100%;

}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(103, 113, 122, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}


.card:active{
  width: 400px; 
  z-index: 800;
}
.card:hover .overlay {
  height: 100%;
}
.card:hover{
    transform: scale(1.5);
    z-index: 2;
    margin-top: 36px;
}
.kick-out{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
  
}

.out{
  background-color: #403f40;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: #de2828;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
}

.out:hover{
  background-color: #a41a20;
}


/* FOOTER */
footer{
  background-color: #212121;
  height: 70px;
}
footer .button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-between;
}

.col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

ul,
li{
    display: inline-block
}

ul li{
    opacity: 100%;
    color: white;
}

.menu::after{
  content: "\2303";
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}

.btn-end{
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
  background-color: #de2828;
  height: 100%;
}

footer p{
  font-size: 12px;
  padding: 4px;
}

footer i{
  font-size: 22px;
  padding: 4px;
}

.item a{
  color: #ffffff;
  text-decoration: none;
}

.active{
  color: #43ad04;
}

.end-meeting{
  justify-content: center;
}